<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Routines.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>838F071E1B84C8B8004F1E22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>838F07321B84C8B9004F1E22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>838F073D1B84C8B9004F1E22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
